<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Snappy Snips</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Snappy Snips</h1>
    </div>
    <h5>Contact information:</h5><br>
    <p>Phone Number: @Model["client"].PhoneNumber</p>
    <p>Email Address: @Model["client"].EmailAddress</p>
    <!-- <p>Usual Stylist: @Model["stylist"].Name</p><br> -->
    <form action="/stylists/@Model["stylist"].Id/clients/@Model["client"].Id/delete" method="post">
      <button type="submit" class="btn btn-dark">Delete this client</button>
      <a href='/stylists/@Model["stylist"].Id/clients/@Model["client"].Id/edit' class="btn btn-dark">Edit this client</a>
    </form><br>
    @if (@Model["clientStylists"].Count != 0)
    {
    <h5>This client gets services from these stylists:</h5><br>
      @foreach (var stylist in @Model["clientStylists"])
      {
        <p>@stylist.Name</p><br>
      }
    }
    <h5>Add a stylist to this client:</h5><br>
    <form action='/clients/@Model["selectedRecipe"].Id/stylists/new' method='post'>
      <label for='stylist_id'>Select a stylist:</label><br>
      <select id='stylist_id' name='stylist_id' type='text'><br>
        @foreach (var stylist in @Model["allStylists"])
        {
          <option value='@stylist.Id'>@stylist.Name</option><br>
        }
      </select><br>
      <br>
      <button type='submit' class="btn btn-dark">Add</button>
      <br>
    </form>
    <div id="space">
    </div>
    <hr>
    <a href="/stylists/@Model["stylist"].Id class="btn btn-dark">Back to client list</a>
    <a href="/" class="btn btn-dark">Home</a>
  </div>
</body>
</html>
