<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Marc's Barbershop</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Marc's Barbershop</h1>
    </div>
    <h5>@Model["stylist"].Name's Specialties:</h5>
    <br>
    <ul>
      @if (Model["stylistSpecialties"].Count == 0)
      {
        <p>No specialties were found at this time. Click the button below to start adding specialties.</p>
      }
      @if (Model["stylistSpecialties"].Count != 0)
      {
        @foreach (var specialty in Model["stylistSpecialties"])
        {
          <li><a href="/specialties/@specialty.Id" class="btn btn-dark">@specialty.Name</a></li>
        }
      }
    </ul>
    <br>
    <h5>Add a specialty to @Model["stylist"].Name:</h5>
    <br>
    <form action="/stylists/@Model["stylist"].Id/add-specialty" method="post" >
      <select name='id' type='number'>
        <option value = 0>None</option>
        @foreach (var specialty in @Model["specialty"])
        {
          <option value='@specialty.Id'>@specialty.Name</option>
        }
      </select>
      <button type="submit" class="btn btn-dark">Add Specialty</button>
    </form>
    <br>
    <h5>@Model["stylist"].Name's Clients:</h5>
    <br>
    <ul>
      @if (Model["clients"].Count == 0)
      {
        <p>No clients have been added yet!</p>
      }
      @if(Model["clients"].Count != 0)
      {
        @foreach (var client in @Model["clients"])
        {
          <li><a href="/stylists/@Model["stylist"].Id/clients/@client.Id" class="btn btn-dark">@client.FirstName @client.LastName</a></li>
        }
      }
    </ul>
    <div id="space">
    </div>
    <hr>
    <form action="/stylists/@Model["stylist"].Id/delete-clients" method="post">
      <a href="/stylists/@Model["stylist"].Id/edit" class="btn btn-dark">Edit stylist information</a>
      <a href="/stylists/@Model["stylist"].Id/clients/new" class="btn btn-dark">Add a new client</a>
      <button type="submit" class="btn btn-dark">Delete all clients</button>
    </form>
    <form action="/stylists/@Model["stylist"].Id/delete" method="post">
      <button type="submit" class="btn btn-dark">Delete stylist and clients</button>
      <a href="/stylists" class="btn btn-dark">Back to stylist list</a>
      <a href="/" class="btn btn-dark">Home</a>
    </form>
  </div>
</body>
</html>
