<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Marc's Barbershop</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Marc's Barbershop</h1>
    </div>
    <h5>Update information for @Model["client"].FirstName @Model["client"].LastName</h5><br>
    <form action='/stylists/@Model["stylist"].Id/clients/@Model["client"].Id/edit' method='post'>
      <label for="newFirstName">First Name:</label><br>
      <input type="text" name="newFirstName" value="@Model["client"].FirstName" required><br>
      <label for="newLastName">Last Name:</label><br>
      <input type="text" name="newLastName" value="@Model["client"].LastName" required><br>
      <label for="newPhoneNumber">Phone Number:</label><br>
      <input type="text" name="newPhoneNumber" value="@Model["client"].PhoneNumber" required><br>
      <label for="newEmailAddress">Email Address:</label><br>
      <input type="text" name="newEmailAddress" value="@Model["client"].EmailAddress" required><br>
      <br>
      <button type="submit" class="btn btn-dark">Update</button>
      <a href="/stylists/@Model["stylist"].Id/clients/@Model["client"].Id" class="btn btn-dark">Cancel</a>
    </form>
    <div id="space">
    </div>
    <hr>
  <a href="/" class="btn btn-dark">Home</a>
  </div>
</body>
</html>
